<!DOCTYPE html>
<html>
<head>
	<title>Lumen</title>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script type="text/javascript" src="components/lib/kineticjs/kinetic.js"></script>
	<script type="text/javascript" src="components/lib/angular/angular.js"></script>
</head>
<body ng-app="lumen" ng-controller="LumenCtrl">
	<div class="container">
		<div class="hud ng-cloak" ng-controller="HudCtrl">
			<div class="info">
				<p><span><b>{{game.currentPlayer | PlayerFilter}}</b></span> : <span ng-class="{paused: game.paused, playing: !game.paused}">{{game.paused | PauseFilter}}</span></p>
				<p>Turn: {{game.turn}}</p>
				<p>{{game.disseminationList}}</p>
			</div>
			<button class="pause-toggle" ng-click="toggleGameState();">{{getToggleButtonLabel()}}</button>
			<div class="messages" ng-show="messaging.getMessages().length > 0"><p ng-repeat="msg in messaging.getMessages() track by $index">{{msg}}</p></div>
		</div>
		<stage stage-width="300" stage-height="300" id="lumen-stage" class="stage" ng-controller="GridCtrl">
		</stage>
	</div>

	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="app-controller.js"></script>
	<script type="text/javascript" src="components/kinetic/kinetic.js"></script>
	<script type="text/javascript" src="components/kinetic/stage-directive.js"></script>
	<script type="text/javascript" src="components/grid/grid.js"></script>
	<script type="text/javascript" src="components/grid/grid-service.js"></script>
	<script type="text/javascript" src="components/grid/grid-controller.js"></script>
	<script type="text/javascript" src="gamemanager/gamemanager.js"></script>
	<script type="text/javascript" src="gamemanager/gamemanager-service.js"></script>
	<script type="text/javascript" src="hud/hud.js"></script>
	<script type="text/javascript" src="hud/hud-controller.js"></script>
	<script type="text/javascript" src="hud/hud-filter.js"></script>

	<script type="text/javascript" src="components/messaging/messaging.js"></script>
	<script type="text/javascript" src="components/messaging/messaging-service.js"></script>

</body>
</html>